@media screen and (max-width: 1400px) {
  body main section .top-section .box img {
    margin: 110px auto 35px;
  }
  body main section .top-section {
    padding-top: 30px;
  }
  body main section .top-section .details .red span {
    font-size: 24px;
  }
  body footer .flex .sponsor img {
    width: 90%;
  }
  body footer .copy-right p {
    font-size: 22px;
  }
  body main section .packages-section .wrapper {
    width: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  body main section .top-section .details h1 {
    font-size: 32px;
  }
  body main section .top-section .details span {
    font-size: 22px;
  }
  body main section .top-section .details .red span {
    font-size: 21px;
  }
  body main section .top-section .details img {
    width: 60px;
    margin-top: 116px;
    margin-bottom: 7px;
  }
  body main section .top-section .box img {
    margin: 110px auto 117px;
  }
  body main section .packages-section .wrapper {
    width: 100%;
  }
  body main section .introduction-section .content p {
    font-size: 17px;
  }
  body main section .laptop-section .laptop-img {
    top: -134px;
    width: 100%;
  }
  body main section .online-course-section article .top {
    display: block;
    padding: 10px;
    font-size: 21px;
  }
  body main section .course-title-section .box ul li {
    font-size: 17px;
  }
  body footer .menu li {
    margin: 0 14px;
    font-size: 21px;
  }
}

@media screen and (max-width: 992px) {
  body main section .top-section .box img {
    margin: 54px auto -61px;
  }
  body header .navbar .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-toggler {
    position: relative;
    top: -2px;
  }
  body main section .introduction-section .content h4 {
    color: #a51c30;
    margin-top: 20px;
    text-align: center;
  }
  body main section .course-title-section .teacher-box img {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  body footer .box {
    padding: 0;
    text-align: center;
  }
  body footer .box .line {
    display: none;
  }
  body footer .box .social {
    display: none;
  }
  body footer .flex {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  body header .navbar {
    padding: 12px 0;
  }
  body header .navbar-toggler {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    border: none !important;
  }
  body header .nav-item {
    margin-top: 20px;
    text-align: center;
  }
  body header .nav-item.active {
    background-color: #fff;
    border: none !important;
  }
  body header .nav-item.active .nav-link {
    color: #000;
    border: none !important;
  }
  body main section .gallery-section .gallery {
    width: 100%;
  }
  body main section .introduction-section {
    padding-bottom: 81px;
  }
  body main section .packages-section .box .contents .btn-red {
    display: block;
    margin: 0;
  }
  .box-big .btn-red {
    display: block !important;
    margin: 0 !important;
  }
  body main section .packages-section .wrapper .box-big {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  body main section .packages-section .wrapper .box-big .content h5 {
    font-weight: 500;
    font-size: 24px;
  }
  body main section .laptop-section video {
    width: 90% !important;
    margin: 0 30px !important;
  }
  body main section .laptop-section .video .play-icon svg {
    width: 42px;
    margin-top: 16%;
  }
  body main section .packages-section .wrapper .box-big img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .splide__arrows {
    display: none;
  }
  .online-course-section article:nth-child(3) {
    display: none;
  }
  .online-course-section article:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  h3 {
    font-size: 21px;
  }
  section .top-section .details h1 {
    font-size: 26px;
  }
  body main section .top-section .details span {
    font-size: 20px;
  }
  body main section .top-section .details p {
    font-size: 16px;
  }
  body main section .top-section .details .red span {
    font-size: 19px;
  }
  .btn-red {
    margin: 0 78px;
    text-align: center;
    display: block;
  }
  body main section .packages-section {
    margin-top: 58px;
  }
}

@media screen and (max-width: 450px) {
  body main section .top-section .details h1 {
    font-size: 24px;
  }
  body main section .top-section .details span {
    font-size: 18px;
  }
  body main section .top-section .details p {
    font-size: 14px;
  }
  body main section .packages-section .box .contents {
    padding: 15px 8px;
  }
  body main section .packages-section .wrapper .box-big .content h5 {
    margin-top: 16px !important;
  }
  body main section .questions-section {
    padding: 58px 0;
  }
  body
main
section
.questions-section
.accordion
.accordion-item
.accordion-button {
    padding: 17px;
    font-size: 15px;
  }
  body footer .menu li {
    display: block;
  }
  body footer .copy-right p {
    font-size: 15px;
  }
}

@media screen and (max-width: 405px) {
  body main section .top-section .details .red span {
    font-size: 17px;
    display: inline;
    line-height: 28px;
  }
  body main section .packages-section .box {
    width: 186px;
  }
  body main section .packages-section .box .contents .btn-red {
    font-size: 14px;
    padding: 8px;
  }
  body main section .packages-section .box .contents p {
    margin: 10px 0;
    font-size: 14px;
  }
  .btn-red {
    margin: 0 50px;
  }
  body main section .gallery-section .gallery .title-bg {
    padding: 12px;
  }
  body main section .gallery-section .gallery .title-bg span {
    font-size: 13px;
  }
  h3 {
    font-size: 18px;
    line-height: 33px;
  }
  body main section .packages-section {
    margin-top: 38px;
  }
}
/*# sourceMappingURL=responsive.css.map */